<section class="sidebar-tab tab" id="layers" data-tab="layers">
   <header>
      {{#if this.user.isGM}}
      <label class="toggle">
         <input id="global-setting" class="toggle-checkbox" type="checkbox" data-dtype="Boolean" {{checked global}}>
         <div class="toggle-switch"></div>
         <span class="toggle-label">Send changes to all players</span>
      </label>
      {{/if}}
   </header>
   <ol class="layers-list">
      {{#each layers}}
      <li class="layer-row">
         <i class="fas fa-layer-group"></i>
         <div class="layer-container">
            <h3>{{this.name}}</h3>
            <div class="layer-controls">

               <a class="visible" title="Layer Visibility" data-layer="{{this.name}}">
                  <i class="fas {{#if this.visible}}fa-eye{{else}}fa-eye-slash{{/if}}"></i>
               </a>

               <input class="opacity-slider" data-layer="{{this.name}}" title="Layer Opacity" type="range" min="0" max="1" step="0.05" value="{{this.alpha}}" />

              
            </div>
         </div>
      </li>
      {{/each}}
   </ol>



</section>